ETHERSCAN_API_KEY = ABSD123...
MNEMONIC = "one two three ..."
INFURA_ID_PROJECT = "abcd1234..."

DEPLOY_GAS_LIMIT = 8000000
DEPLOY_GAS_PRICE = 150

# deploy consts

WITH_TOKEN = true
NAME_ETH = NameETH
SYMBOL_ETH = SymbolETH
NAME_BSC = NameBSC
SYMBOL_BSC = SymbolBSC
TOTAL_SUPPLY = 1000000
DECIMALS = 18

TOKEN_ADDRESS = 0x0000000000000000000000000000000000000000

NUM_OF_TOTAL_BLOCKCHAINS = 3
NUM_OF_THIS_BLOCKCHAIN = 0
NUM_BLOCKCHAIN_FOR_BSC = 1
NUM_BLOCKCHAIN_FOR_ETH = 2